{% extends "bootstrap/base.html" %}

{% block head %}
    {{super()}}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block title %}
    CoderBot
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="/">CoderBot</a>
                </div>
            </div>
            <p class="navbar-text navbar-right">
                <a href="/about">About</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">

        {% block page_content %}
        {% endblock %}

    </div>
{% endblock %}